body {
  margin: 0;
  font-family: "Smythe", sans-serif;
}

.container {
  width: 600px;
  margin: auto;
}

h1 {
  margin: 0;
  font-size: 39px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 46.7px;
  margin-bottom: 19px;
  font-weight: 400;
}

header p {
  font-size: 22.4216px;
  line-height: 14px;
  color: #ffffff;
  margin-left: 46.7px;
}

header {
  background: url(./images/ferks-guare-KEZdWfYD-ow-unsplash.jpg);
  background-size: cover;
  height: 121px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 46px;
}

main {
  background: #f5f5f5;
}

.menu-container {
  display: flex;
  padding-top: 46px;
  justify-content: space-between;
  margin-left: 46px;
  margin-right: 46px;
  margin-bottom: 40px;
}

.left-div {
  display: flex;
}

.emoji {
  margin-right: 31px;
  font-size: 78.72px;
  line-height: 98px;
  letter-spacing: -0.02em;
  opacity: 0.72;
}

.menu-text {
  display: flex;
  flex-direction: column;
}

.menu-text :first-child {
  font-weight: 400;
  font-size: 28px;
}

.menu-text :last-child {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.menu-text p {
  margin: 2.5px 0 2.5px 0;
}

.sub-text {
  font-size: 16px;
  color: #8b8b8b;
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-btn button {
  width: 50px;
  height: 50px;
  border: 1.5px solid #3c3c3c;
  border-radius: 50%;
  font-style: normal;
  font-weight: 200;
  font-size: 32px;
  line-height: 24px;
  color: #3c3c3c;
  opacity: 0.7;
  cursor: pointer;
}

hr {
  border: 1px solid #d2d2d2;
  width: 504px;
}

footer {
  width: 600px;
}

.order-title {
  margin-top: 45px;
  text-align: center;
  font-family: "Smythe";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 17px;
  color: #000000;
}

.complete-order-btn {
  text-align: center;
}

.complete-order-btn button {
  width: 508px;
  height: 60px;
  background: #16db99;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}

.order-top {
  display: flex;
  justify-content: space-between;
}

.order-total {
  display: flex;
  justify-content: space-between;
}
